<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script data-main="scripts/main.js" src="scripts/require.js"></script>
</head>
    <body>
        @RenderBody()
    </body>
    
<script type="text/javascript" src="Scripts/require.config.js"></script>
<script data-main="flow/main" src="Scripts/require.js"></script>
</html>
