

<h1 style="font-size:84px; color: #0026ff" data-bind="text: title"></h1>

<div class="mainContent" data-bind="setContent: content"></div>

<div class="mainButton" data-bind="click: onClickEconomy">Ekonomi</div>