
<section>
    <h1 data-bind="text: economyTitle"></h1>

    <div data-bind="foreach: groups">
        <div class="group">
            <div data-bind="foreach: currentRules">
                <input type="button" class="ruleButton" />
                Nån regeltext
            </div>
            <div class="actionContainer" >
                <div class="mainButton" data-bind="click: onAddActionClick">Lägg till händelse</div>
                    <div data-bind="foreach: actions">
                        <div class="action">
                            <div data-bind="text: value"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainButton" data-bind="click: onImportActionsClick">Importera händelser</div>
</section>