
<section>
    <h1 data-bind="text: economyTitle"></h1>

    <div class="mainButton" data-bind="click: onAddActionClick">Lägg till händelse</div>
    <div class="mainButton" data-bind="click: onImportActionsClick">Importera händelser</div>
</section>